/* @font-face {
  font-family: 'Rajdhani';
  src: local('Rajdhani'), url(./fonts/Rajdhani/Rajdhani-Regular.ttf) format('truetype');
} */


@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(fonts/Roboto_Condensed/rc-bold.ttf) format("truetype");
}


@font-face {
  font-family: RobotoCondensed;
  src: url(fonts/Roboto_Condensed/rc-regular.ttf) format("truetype");
}
@font-face {
  font-family: RobotoCondensed-Light;
  src: url(fonts/Roboto_Condensed/rc-light.ttf) format("truetype");
} 

@font-face {
  font-family: Chinese-Rocks;
  src: local('Chinese-Rocks'), url(fonts/chinese-rocks-rg.ttf) format("truetype");
}

body {
  margin: 10mm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* CARDS CSS */


.top-space{
  height: 0mm;
}

/*
@page{
  size: A4;
  margin-top: 20mm;
  margin: 25mm 25mm 25mm 25mm;
  padding-top: 50mm;
}
*/


    body.tech-deck-print {
      width: 210mm;
      margin: 5mm;
      padding: 0;
      color: black;
      font-family: 'RobotoCondensed', sans-serif;
      /*width: 65mm;*/
      background-color: #333;
    }

    body{
      font-family: 'RobotoCondensed', sans-serif;
 
      background-color: #333;
    }

    .hand{
      background-color: #000;
      padding: 4mm;
      margin-bottom: 10mm;
      border-radius: 4mm;
      overflow-x:hidden;
      white-space: nowrap;
    }

    .hand-cards{
      /* transform:scale(0.8) */
      /* overflow-x:hidden; */
      transform-origin:top left;
    }
    .hand-cards-inner{
      overflow-x:hidden;
      background: blue;
      display:inline-block;
    }
    .hand-name{
      color:white;
    }
    .hand-description{
      color:#ccc;
      margin-bottom: 30px;
    }

    div.save-button{
      height: 5mm;
      background: lightgreen;
      display: inline-block;
      padding: 1mm 5mm;
      margin: 1mm;
      cursor: pointer;
      width: 20mm;
    }
    .hand-name-input{
      width: 47.8mm;
      padding: 1mm;
    }
    .hand-select{
      width: 50mm;
      padding: 1mm;
    }

    span.filter-label{
      display: inline-block;
      color:white;
      padding: 1mm 5mm;
      margin: 1mm;
      width: 20mm;
    }

    div.category-filter{
      height: 5mm;
      background: white;
      display: inline-block;
      padding: 1mm 5mm;
      margin: 1mm;
      cursor: pointer;
    }
    div.category-filter-selected{
      outline: white;
      outline-width: 1mm;
      outline-style: auto;
    }

    div.mini-card{
      width: 23mm;
      height: 15mm;
      background: white;
      margin: 2mm;
      
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    div.mini-card-selected{
      outline: white;
      outline-width: 2mm;
      outline-style: auto;
    }

    div.mini-card-category{
      font-size: 8pt;
      color: white;
      padding: 0.5mm;
      /* height: 5px; */
    }    
    h3.mini-card-title{
      font-size: 10pt;
      margin-top: 0mm;
      padding: 1mm;
    }

    div.mid-card{
      width: 30mm;
      height: 26mm;
      background: white;
      margin: 2mm;
      vertical-align: top;

    }

    div.mid-cardgame-card-contents {
      position: absolute;
      top: 6mm;
      left: 3mm;
      width: 28mm;
      height: 21mm;
      /* outline:solid 1px blue; */
    }

    div.mid-image-wrapper {
      text-align: center;
      position: absolute;
      bottom: 0mm;
      left: 0mm;
      right: 0mm;
      /* outline:solid 1px red; */
    }
    div.mid-cardgame-card-contents img {
      position: relative;
      max-width: 30mm;
      max-height: 14mm;
      /* outline:solid 1px green; */
    }

    div.mid-cardgame-card-contents img.screenshot {

      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.45);
    }


    /* div.mid-card-selected{
      outline: white;
      outline-width: 2mm;
      outline-style: auto;
    }

    div.mid-card-category{
      font-size: 8pt;
      color: white;
      padding: 0.5mm;
    }    
    h3.mid-card-title{
      font-size: 10pt;
      margin-top: 0mm;
      padding: 1mm;
    } */


    /* div.resizer{
      display: inline-block;
      
      position: relative;

      margin: 2mm;
      padding: 0;
      vertical-align: top;
      overflow: hidden;

      border-radius: 2mm;

      border: solid 2px blue;
    } */

    div.cardgame-card {
      display: inline-block;
      width: 59mm;
      height: 91mm;
      position: relative;

      margin: 2mm;
      padding: 0;
      vertical-align: top;
      overflow: hidden;

      border-radius: 2mm;

      /* transform: scale(0.4); */
      /* border: solid 2px red; */
    }






    @media print {

      div.cardgame-card-print-wrapper {
        background-color: white;
        display: block;

        page-break-after: always;
      }

    }




    /* NOW FOR PRINTING AT HOME!!!!*/
    /************************************/

  /*
div.cardgame-card-print-wrapper{
  background-color: #fff !important;
  border: solid 1px #ccc;
  margin-bottom: -3mm;
  width: 59mm;
  height: 91mm;
}

div.cardgame-card{
  top: 0mm;
  left: 0mm;
  border: solid blue 1px;
}
*/
div.cardgame-card{

  /*

  border: solid #666 1px;
  */
}









    /************************************/


    div.rfp-card-center-point {
      display: none;
      width: 29.5mm;
      height: 45.5mm;

      border: solid 1px #999;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
    }




    div.cardgame-card-print-bounds {
      position: absolute;
      /*
border: dashed 1px #aaa;
      */


      width: 51mm;
      height: 83mm;

      top: 4mm;
      left: 4mm;
      z-index: 200;
      margin: 0;
      padding: 0;
    }

    div.cardgame-card-contents {
      position: absolute;
      top: 4mm;
      left: 4mm;
      width: 51mm;
      height: 83mm;
    }

    div.textual {
      margin-left: 3mm;
    }

    div.image-wrapper {
      text-align: center;
      position: absolute;
      bottom: 1mm;
      left: 0mm;
      right: 0mm;
    }



    /*
div.cardgame-card-contents img.screenshot{
  position: absolute;
  left: -2.6mm;
  bottom: 2mm;
  max-width: 56mm;
  max-height: 38mm;
}
*/

    div.cardgame-card-contents img {
      position: relative;
      max-width: 51.5mm;
      max-height: 35mm;
    }

    div.cardgame-card-contents img.screenshot {

      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.45);
    }

    h2 {
      font-size: 20pt;
      line-height: 20pt;
      color: black;
      font-family: 'RobotoCondensed-Light';
      font-weight: 100;
      margin-bottom: 4mm;
      margin-top: 3mm;
      /*margin-bottom: 0.2em;*/
      /*text-transform: capitalize;*/
    }
    h2.tech-deck-title{
      /*margin-bottom: 3mm;*/
      margin-top: 1mm;
    }

    .spine-title-wrapper{
      display:none;
    }

    p.description {
      white-space: pre-line;
      margin-top: 5mm;

      font-size: 10pt;
      line-height: 11pt;
      color: #333;

    }

    div.cardgame-category {
      font-family: 'RobotoCondensed-Bold';
      font-weight: bold;

      font-size: 7pt;
      position: absolute;
      top: 5mm;
      width: 4.5mm;
      /*left: -0.0mm;*/
      left: 0mm;

      height: 18mm;

      text-align: center;
      margin: auto;
      color: white;
      text-transform: uppercase;

      z-index: 100;
      /*border: solid 0.5px #ccc;*/
    }


    /*
div.cat-UI{
  top: 5mm;
}
div.cat-Experience{
  top: 12mm;
}
div.cat-Backend{
  top: 19mm;
}
div.cat-Integration{
  top: 26mm;
}
*/

    div.cardgame-category-text {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: relative;
      left: 1mm;
      top: 10mm;

      color: white;
    }

    div.cat-UI div.cardgame-category-text {
      top: 7.5mm;
    }

    div.cat-Experience div.cardgame-category-text {
      top: 11.5mm;
    }

    div.cat-Backend div.cardgame-category-text {
      top: 10.0mm;
    }

    div.cat-Integration div.cardgame-category-text {
      top: 12mm;
    }



    .color-m-green {
      background-color: #599900 !important;
    }
    .color-blue {
      background-color: #3767d0 !important;
    }
    .color-light-blue {
      /*background-color: #CC333F;*/
      background-color: #93bbc4 !important;
    }
    .color-light-green {
      background-color: #aabf2f !important;
    }
    .color-yellow {
      background-color: #ffb300 !important;
    }
    .color-dark-green {
      background-color: #2a3d00 !important;
    }
    .color-red {
      background-color: #f54200 !important;
    }
    .color-white {
      background-color: #FFFFFF !important;
    }

    .color-blue-foreground {
      color: #4b8e9e;
    }
    .color-light-green-foreground {
      color: #aabf2f;
    }
    .color-m-green-foreground {
      color: #689600;
    }

    div.card-footer {
      position: absolute;
      bottom: 0mm;
      left: 0;
      right: 0;
      font-size: 8pt;
    }


    div.tags {
      position: absolute;
      left: 15mm;
      right: 0mm;
      bottom: 0mm;
      text-align: right;
      display: none;
    }

    div.cost {
      font-size: 7pt;

    }

    div.cost-label {
      display: inline-block;

      text-transform: uppercase;
      vertical-align: top;
      height: 2mm;
    }

    div.cost-coins {
      display: inline-block;

      margin-right: 2mm;
      margin-left: 0.5mm;
      vertical-align: top;
      height: 2mm;
      padding-top: 0.4mm;
    }

    img.magnolia-logo-bottom {
      position: absolute;
      bottom: 0mm;
      right: 0;
      height: 16px;
    }


    img.magnolia-logo-bottom-rfp {
      position: absolute;
      bottom: 0mm;
      left: 50%;
      margin-left: -30px;
      height: 16px;
    }





    /* RFP CARDS */


    div.rfp-category {
      color: white;
      text-align: center;

      font-size: 10pt;

      font-family: Chinese-Rocks;

      margin: auto;

      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05mm;
    }

    div.rfp-card {
      text-align: left;
    }

    div.tech-card{
      background-color: white;
    }

    div.int-card {
      background-color: #2f6518;
      /*background: radial-gradient(#38761d, #203e13);*/
    }
    div.budget-card {
      background-color: #e3b62f;
      /*background: radial-gradient(#38761d, #203e13);*/
    }

    div.int-card-back {
      /*background-color: #38761d;*/
      background: radial-gradient(circle at center, #38761d, #172e0b 95%);
    }

    div.epic-card {
      background-color: #1c4587;
      /*background: radial-gradient(#1077d2, #093153);*/
    }

    div.epic-card-back {
      background: radial-gradient(circle at center, #1077d2, #093153 95%);
    }

    div.budget-card-back {
      background: radial-gradient(circle at center, #e3b62f, #795b04 95%);
    }
    div.tech-card-back {
      background: radial-gradient(circle at center, #595959, #000 95%);
    }

    h2.back-title {
      display: block;
      position: absolute;

      text-align: center;
      /*bottom: 45mm;*/
      bottom: 37mm;

      color: white;
      vertical-align: bottom;
      margin: 0;
      padding: 0;
      width: 100%;

      font-family: Chinese-Rocks;
      font-size: 24pt;
      font-weight: normal;
      line-height: 18pt;
    }

    h2.back-title.back-title-tech-deck {
      bottom: 35mm;
      line-height: 17pt;

      font-size: 21pt;
    }

    div.back-text {
      color: white;
      font-family: Chinese-Rocks;
      font-size: 16pt;
    }

    div.back-text-epic {
      position: absolute;
      bottom: 8.5mm;
      left: 18mm;
    }

    div.back-text-win {
      position: absolute;
      bottom: 4mm;
      left: 22mm;
    }

    img.back-magnolia-logo {
      position: absolute;
      bottom: 15.0mm;
      left: 50%;
      margin-left: -22px;
      height: 9px;
    }

    img.back-tech-deck-logo {
      display: block;
      position: absolute;
      bottom: 32mm;
      left: 50%;
      margin-left: -10mm;
      height: 20mm;
    }

    img.back-epic-win-logo {
      display: block;
      position: absolute;
      bottom: 1mm;
      left: 50%;
      margin-left: -6mm;
      height: 12mm;
    }



    h2.rfp-title {

      display: block;
      position: absolute;

      text-align: center;
      bottom: 50mm;


      vertical-align: bottom;
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: Chinese-Rocks;

      font-size: 24pt;
      line-height: 24pt;
    }

    /*color: #599900;*/
    h2.int-title {
      color: white;
    }

    h2.epic-title {
      color: white;
    }

    h2.budget-title{
        color: white;
        bottom: 37mm;
        font-size: 100pt;
    }




    p.rfp-description {
      position: absolute;
      display: block;
      /*top: 38mm;*/
      /*top: 43mm;*/
      top: 35mm;
      font-size: 12pt;
      line-height: 14.5pt;
      width: 100%;
      color: white;
      white-space: pre-line;
      text-align: left;
      font-weight: normal;
    }

    h2.rfp-back {
      position: absolute;
      top: 50%;
      width: 100%;
      color: white;
      text-transform: lowercase;
      text-align: center;
      font-size: 7mm;
      margin: 0;
      margin-top: -3.5mm;
    }

    img.magnolia-logo-back {
      position: absolute;
      height: 8mm;
      width: 32mm;
      left: 50%;
      margin-left: -16mm;
      margin-top: -4mm;
      top: 50%;
    }

    div.cardgame-version {
      position: absolute;
      bottom: 3mm;

      width: 100%;
      text-align: center;
      color: black;
      font-size: 6pt;
    }




